@media (max-width: 992px) {
  .background-container {
    justify-content: center;
    background-size: cover;
    height: 82vh;
  }
  .background-container::before {
    display: none;
  }

  .header {
    animation: none;
  }
  .nav-logo-media {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
  }
  .language-button-media {
    position: absolute;
    top: 38px;
    right: 100px;
    display: block;
    background-color: white;
    border-radius: 50%;
    padding: 12px 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #4d4d4d;
    &:active {
      color: white;
      background-color: #ffc711;
    }
  }
  .nav {
    position: fixed;
    top: 0;
    left: 108%;
    width: 80%;
    height: 100vh;
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    background-color: rgba(89, 182, 225);
    transform: translateX(0);
    transition: var(--transition);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__logo {
    display: none;
  }
  .language-button {
    display: none;
  }

  .nav.active {
    transform: translateX(-100%);
  }

  .icon-menu {
    display: block;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px;
  }
  .nav__link:active {
    color: #ffc711;
  }

  .nav__item {
    margin: 0;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .hero__text {
    font-size: 12px;
  }
  .hero__title {
    font-size: 50px;
  }
  .hero-select {
    text-align: center;
  }
  .hero-select__title {
    font-size: 18px;
  }
  .projects {
    padding: 0 30px;
  }
  .projects__title {
    font-size: 42px;
  }
  .projects__container {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .project-card {
    width: 365px;
  }
  .projects__navigation {
    justify-content: space-between;
  }
  .project__description {
    font-size: 16px;
    width: 300px;
  }
  .projects__arrow:active {
    background-color: #59b6e1;
  }
  .project-card__button:active {
    background-color: #59b6e1;
  }
  .project-card__info {
    right: 26px;
    left: 30px;
  }
  .project-card__image {
    width: 80%;
  }
  .project-card__name {
    font-size: 20px;
  }
  .project-card__info:active {
    background: rgba(0, 0, 0, 0.4);
  }
  .hero-select__button:active {
    color: #fff;
    background-color: #59b6e1;
  }

  .footer__more {
    font-size: 32px;
  }
  .dropdown {
    position: relative;
    top: 0;
    left: -9px;
    background: none;
    box-shadow: none;
    width: 90px;
    padding: 0;
  }
  .nav__item:hover .dropdown {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .dropdown li {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    align-items: center;
  }
  .dropdown li a {
    font-size: 16px;
  }
}
